
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>Either this player does not exist, or you entered the wrong password. <a asp-controller="Login" asp-action="index">Log in</a>, or <a asp-controller="Login" asp-action="CreateCustomer">create a new username</a>.</p>