
@{
    ViewData["Title"] = "PlayerAlreadyExists";
}

<h1>Username already exists</h1>

<p>This username already exists, please <a asp-controller="Login" asp-action="index">log in</a>, or <a asp-controller="Login" asp-action="CreateCustomer">create a new username</a>.</p>