@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Targmart!</h1>
    <p><a asp-controller="Login" asp-action="Index">Login</a></p>
    <p><a asp-controller="Login" asp-action="CreateCustomer">Create New User</a></p>
</div>
